@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500&family=Inter:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-neutral-800;
  }
}

@layer utilities {
  .font-serif {
    font-family: 'Cormorant', serif;
  }

  .font-sans {
    font-family: 'Inter', sans-serif;
  }
}
